:root {
  --mobile-langs-font-size: 18px;
  --langs-font-size: 24px;

  --mobile-langs-line-height: 1.11;

  --mobile-langs-right-gap: 15px;
  --langs-right-gap: 18px;
}

.langs__switcher {
  text-decoration: none;
}

@media (max-width: 768px) {
  .langs__switcher {
    font-size: var(--mobile-langs-font-size);
    line-height: var(--mobile-langs-line-height);
  }
  
  .langs__switcher:not(:last-child) {
    margin-right: var(--mobile-langs-right-gap);
  }
}

@media (min-width: 768px) {
  .langs__switcher {
    font-size: var(--langs-font-size);
  }

  .langs__switcher:not(:last-child) {
     margin-right: var(--langs-right-gap);
  }
}