@media (max-width: 768px) {
  .intro .intro__subtitle {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .intro .intro__subtitle {
    width: 100%;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .intro .intro__subtitle {
    margin-top: 92px;
    width: 100%;
  }
}