.list__item .small {
  font-weight: normal;
}

@media (max-width: 768px) {
  .intro .intro__list {
    margin-top: 34px;
  }
}

@media (min-width: 768px) {
  .intro .intro__description {
    margin-top: 43px;
  }

  .intro .intro__list {
    margin-top: 33px;
  }
}