@media (max-width: 768px) {
  .lead .page-title,
  .lead .page-description {
    max-width: 320px;
    margin-top: 16px;
  }
}


@media (min-width: 768px) {
  .lead .page-title {
    max-width: 700px;
  }

  .lead .page-description {
    max-width: 500px;
    margin-top: 32px;
  }
}

@media (min-width: 1024px) {
  .lead {
    margin-left: auto;
    margin-right: auto;
  }

  .lead .page-description {
    width: 500px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .lead {
    max-width: 928px;
  }
}

@media (min-width: 1280px) {
  .lead {
    max-width: 984px;
  }
}