:root {
  --cover-img-overlay-width: 100%;
  --cover-img-overlay-height: 100%;
  --cover-img-overlay-background-color: rgba(42, 44, 47, .3);
  --cover-img-overlay-background-color-onhover: rgba(42, 44, 47, .8);
  --cover-img-overlay-transition-options: .5s all ease;
}

.cover__img-overlay {
  width: var(--cover-img-overlay-width);
  height: var(--cover-img-overlay-height);
  position: absolute;
  background-color: var(--cover-img-overlay-background-color);
  z-index: 1;
  transition: var(--cover-img-overlay-transition-options);
}

.cover:hover .cover__img-overlay {
  background-color: var(--cover-img-overlay-background-color-onhover);
}