:root {
  --photo-from-grid-size: 100%;

  --photo-from-grid-background-callback: lightblue;

  --photo-from-grid-fit-behaviour: cover;
}

.photo-grid__photo {
  display: block;
  width: var(--photo-from-grid-size);
  height: var(--photo-from-grid-size);
  background-color: var(--photo-from-grid-background-callback);
  -o-object-fit: var(--photo-from-grid-fit-behaviour);
     object-fit: var(--photo-from-grid-fit-behaviour);
}