.cover .cover__text {
  text-align: center;
  z-index: 1;
}

@media (max-width: 768px) {
  .cover .cover__text {
    font-size: 14px;
    width: 260px;
    line-height: 1.15;
  }
}

@media (min-width: 768px) {
  .cover .cover__text {
    font-size: 18px;
    width: 360px;
    line-height: 1.22;
  }
}