:root {
  --place-img-default-width: 100%;
  --place-img-mobile-reposition: 16px;
  --place-img-callback-background-color: #4ba085;
}

.place__img {
  position: relative;
  grid-area: place__img;
  background-color: var(--place-img-callback-background-color);
}

@media (max-width: 768px) {
  .place__img {
    width: calc(var(--place-img-default-width) + var(--place-img-mobile-reposition) * 2);
    right: var(--place-img-mobile-reposition);
  }
}

@media (min-width: 768px) {
  .place__img {
    width: var(--place-img-default-width);
    right: 0;
  }
}