:root {
  --place-default-width: 100%;
  --place-mobile-reposition: 16px;
}

.place__img {
  position: relative;
  width: var(--place-default-width);
  grid-area: place__img;
}

@media (max-width: 768px) {
  .place__img {
    width: calc(var(--place-default-width) + var(--place-mobile-reposition) * 2);
    right: var(--place-mobile-reposition);
  }
}