:root {
  --website-top-gap: 32px;
  --website-height: 46px;
}

.website {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: var(--website-top-gap);
  height: var(--website-height);
}