:root {
  --figure-image-width-default: 100%;
  --figure-image-mobile-reposition: 16px;
  --figure-image-reposition: 24px;
}

.figure__image {
  position: relative;
  display: block;
  background-color: var(--lead-figure-background-callback);
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .figure__image {
    width: calc(var(--figure-image-width-default) + var(--figure-image-mobile-reposition) * 2);
    right: var(--figure-image-mobile-reposition);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .figure__image {
    width: calc(var(--figure-image-width-default) + var(--figure-image-reposition) * 2);
    right: var(--figure-image-reposition);
  }
}

@media (min-width: 1024px) {
  .figure__image {
    width: var(--figure-image-width-default);
    right: 0;
  }
}