:root {
  --container-size-320: 288px;
  --container-size-768: 720px;
  --container-size-1024: 928px;
  --container-size-1280: 984px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .container {
    max-width: var(--container-size-320);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: var(--container-size-768);
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .container {
    max-width: var(--container-size-1024);
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: var(--container-size-1280);
  }
}