:root {
  --place-mobile-top-gap-between: 50px;
  --place-medium-top-gap-between: 73px;
  --place-top-gap-between: 80px;

  --place-cols-768: 340px 352px;
  --place-cols-gap-768: 28px;
  --place-cols-1024: 440px 456px;
  --place-cols-gap-1024: 32px;
  --place-cols-1280: 460px 456px;
  --place-cols-gap-1280: 40px;

  --place-mobile-row-gap: 32px; 

  --place-rows-gap: 48px;
}

.place {
  display: grid;
}

@media (max-width: 768px) {
  .place:not(:first-child) {
    margin-top: var(--place-mobile-top-gap-between);
  }

  .place {
    grid-row-gap: var(--place-mobile-row-gap);
    grid-template-areas:
      "place__name"
      "place__website"
      "place__img"
      "place__description-group";
  }
}

@media (min-width: 768px) {
  .place {
    grid-template-areas:
      "place__name place__website"
      "place__img place__description-group";
    grid-template-rows: repeat(2, auto);
    grid-row-gap: var(--place-rows-gap);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .place {
    grid-template-columns: var(--place-cols-768);
    grid-column-gap: var(--place-cols-gap-768);
  }

  .place:not(:first-child) {
    margin-top: var(--place-medium-top-gap-between);
  }
}

@media (min-width: 1024px) {
  .place:not(:first-child) {
    margin-top: var(--place-top-gap-between);
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .place {
    grid-template-columns: var(--place-cols-1024);
    grid-column-gap: var(--place-cols-gap-1024);
  }
}

@media (min-width: 1280px) {
  .place {
    grid-template-columns: var(--place-cols-1280);
    grid-column-gap: var(--place-cols-gap-1280);
  }
}