:root {
  --footer-width-1280: 1184px;

  --footer-mobile-top-gap: 64px;
  --footer-mobile-bottom-gap: 22px;

  --footer-medium-top-gap: 88px;
  --footer-default-top-gap: 92px;
  --footer-default-bottom-gap: 24px;
}

@media (max-width: 768px) {
  .footer {
    margin-top: var(--footer-mobile-top-gap);
    margin-bottom: var(--footer-mobile-bottom-gap);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    margin-top: var(--footer-medium-top-gap);
  }
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--footer-default-bottom-gap);
    align-items: baseline;
    flex-wrap: wrap;
  }
}


@media (min-width: 1024px) {
  .footer {
    margin-top: var(--footer-default-top-gap);
  }
}

@media (min-width: 1280px) {
  .footer {
    max-width: var(--footer-width-1280);
  }
}